{% extends "index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="nxPaddingPage">
        <div class="container text-center">
            <div class="mt-5">
                <h1 class="">Về OWA</h1>
                <p>
                    Công ty TNHH OWA Việt Nam là doanh nghiệp tiên phong trong lĩnh vực nước uống Kangen tại thị trường Việt Nam. Vời
                    chất lượng nước ion kiềm số 1 thị trường Việt Nam, chúng tôi cam kết mang tới sản phẩm nước ion kiềm chất lượng cao, 
                    được sản xuất theo tiêu chuẩn quốc tế, với độ pH lên tới 9,5 và nồng độ ion hydroxide cao, 
                    giúp cân bằng độ pH trong cơ thể. Theo nghiên cứu của học viện Y khoa Hoa Kỳ, 
                    nước ion kiềm cùng với các nguyên tố vi lượng kết hợp có tác dụng tích cực cho sức khỏe. 
                </p>
                <img  loading="lazy"  src="{% static '/assets/imgs/baovenguonnuoc.webp' %}" alt="owa" srcset="">
            </div>
            <div class="mt-5">
                <h2>Nước uống Kangen</h2>
                <p>
                    Nước uống Kangen OWA High Oxygen được nghiên cứu và phát triển bởi công ty TNHH OWA Việt Nam, 
                    từ nguồn nước tự nhiên tươi mát kết hợp với công nghệ nâng cao Oxy trong nước.
                </p>
                <img  loading="lazy"  src="{% static '/assets/imgs/image_2.webp' %}" alt="owa" srcset="">
            </div>
            <div class="mt-5">
                <h2>Cam Kết Chất Lượng</h2>
                <p>
                    OWA cam kết đem đến cho khách hàng sản phẩm chất lượng, an toàn và hiệu quả. Chúng tôi sử dụng công nghệ tiên tiến và quy trình sản xuất khép kín để đảm bảo chất lượng nước ion kiềm tốt nhất. Ngoài ra, OWA còn đáp ứng nhu cầu của khách hàng với nhiều dòng sản phẩm đa dạng và tiện lợi như nước uống, nước tinh khiết, nước ion kiềm, nước nóng lạnh và máy lọc nước. Chúng tôi cam kết mang đến cho khách hàng dịch vụ tốt nhất và giá cả hợp lý.
                </p>
                <img  loading="lazy"  src="{% static '/assets/imgs/image_1.webp' %}" alt="owa" srcset="">
            </div>
           
        </div>
    </div>
</main>
{% endblock main-content %}