{% extends "index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="nxPaddingPage">
        <div class="container text-center">
            <h1 class="">Về Owater</h1>
            <p>
                Owater là thương hiệu hàng đầu trong lĩnh vực nước uống tinh khiết và nước giàu oxy, được tạo ra với mục tiêu
                mang đến sức khỏe và sự sảng khoái cho cộng đồng. Chúng tôi tự hào mang đến sản phẩm nước uống chất lượng cao,
                được sản xuất theo công nghệ hiện đại, đảm bảo an toàn và thân thiện với môi trường.
            </p>
            <img src="{% static '/assets/imgs/image_3.jpeg' %}" alt="owa" srcset="">

            <h2>Tầm Nhìn & Sứ Mệnh</h2>
            <p>
                Tầm nhìn của Owater là trở thành thương hiệu nước uống được yêu thích nhất tại Việt Nam và trên toàn thế giới.
                Sứ mệnh của chúng tôi là cải thiện chất lượng cuộc sống thông qua việc cung cấp các sản phẩm nước uống an toàn,
                sạch và tốt cho sức khỏe.
            </p>
            <img src="{% static '/assets/imgs/image_2.jpg' %}" alt="owa" srcset="">
            <h2>Cam Kết Chất Lượng</h2>
            <p>
                - Sử dụng nguồn nước tự nhiên sạch nhất.<br>
                - Ứng dụng công nghệ tiên tiến trong quy trình sản xuất.<br>
                - Không ngừng cải tiến và đổi mới để đáp ứng nhu cầu ngày càng cao của khách hàng.
            </p>
            <img src="{% static '/assets/imgs/image_1.jpg' %}" alt="owa" srcset="">
           
        </div>
    </div>
</main>
{% endblock main-content %}