{% extends "index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="nxPaddingPage">
        <div class="container">
            <h1 class="text-center page-title">Thông tin liên hệ</h1>
            <div class="row row-contact">
                <div class="col-6 col-contact center-flex ">
                    <img src="{% static '/assets/imgs/image_contact.jpg' %}" alt="Owater bình 20L">
                    <iframe class="w-full hidden" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.9267359077776!2d105.79384298750722!3d20.995573739027023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbbe508dd8d%3A0xfd516a7a10ca24ae!2zQ2h1bmcgY8awIEk5LCBOZy4gMTMgxJAuIEtodeG6pXQgRHV5IFRp4bq_biwgVGhhbmggWHXDom4gQuG6r2MsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1733122226529!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-6 col-contact" >  
                    <div class=" w-full" >
                        <h4>Địa chỉ mua hàng</h4>
                        <p><i class="fa-solid fa-location-dot"></i> Tầng 1 Tòa nhà i9 Khuất Duy Tiến, Phường Thanh Xuân Bắc, Quận Thanh Xuân, Hanoi, Vietnam</p>
                        <h4>Facebook</h4>
                        <a href="https://www.facebook.com/OWAHighOxygen" target="_blank" title="cOWAHighOxygen" rel="nofollow">
                            <i class="fa-brands fa-facebook"></i>
                            <span>https://www.facebook.com/OWAHighOxygen</span>
                        </a>
                        <h4>Gmail</h4>
                        <a href="#"> ✉ tamtt@owater.vn</a>
                        <h4>Số điện thoại</h4>
                        <a href="tel:02866811711"> ☎ 096 312 84 81</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main-content %}