{% extends "index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="nxPaddingPage">
        <div class="container">
            <h1 class="text-center page-title">Thông tin liên hệ</h1>
            <div class="row row-contact">
                <div class="col-6 col-contact center-flex  ">
                    <img  loading="lazy"  src="{% static '/assets/imgs/image_contact.webp' %}" alt="Owater bình 20L">
                </div>
                <div class="col-6 col-contact mb-5" >  
                    <div class=" w-full" >
                        <div class="py-2">
                            <h4>Địa chỉ mua hàng</h4>
                            <p><i class="fa-solid fa-location-dot"></i> Tầng 1 Tòa nhà i9 Khuất Duy Tiến, Phường Thanh Xuân Bắc, Quận Thanh Xuân, Hà Nội, Vietnam</p>
                        </div>
                        <div class="py-2">
                            <h4>Facebook</h4>
                            <a href="https://www.facebook.com/OWAHighOxygen" target="_blank" title="cOWAHighOxygen" rel="nofollow">
                                <i class="fa-brands fa-facebook"></i>
                                <span>https://www.facebook.com/OWAHighOxygen</span>
                            </a>
                        </div>
                        <div class="py-2">
                            <h4>Gmail</h4>
                            <a href="#"> ✉ owavietnam@gmail.com</a>
                        </div>
                        <div class="py-2">
                            <h4>Số điện thoại</h4>
                            <a href="tel:19008942"> ☎ 1900 8942</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main-content %}