{% extends "index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="nxPaddingPage">
        <div class="container">
            <h1 class="text-center page-title">Thông tin liên hệ</h1>
            <div class="row">
                <!-- <div class="col-sm-6">
                    <h2 class="text-danger">Thông tin liên hệ</h2>
                    <div class="desc"></div>
                    <form class="dktv" method="post" action="https://evianwater.vn/lien-he.htm" name="dktvcontact">
                        <input type="hidden" value="https://evianwater.vn/" name="link">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" minlength="1" maxlength="50" name="name" placeholder="Họ và tên*">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" required="required" minlength="1" maxlength="50" name="phone" placeholder="Số điện thoại*">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" required="required" name="detail" rows="4" maxlength="500" placeholder="Nội dung liên hệ*"></textarea>
                        </div>
                        <button type="submit" onclick="return btnContact_onclick()" name="btnContact" class="btn btn-contact">Gửi liên hệ</button>
                    </form>
                </div> -->
                
                <div class=" text-center w-full" >
                    <h4>Địa chỉ mua hàng</h4>
                    <a href="https://evianwater.vn/san-pham.htm">qqq</a>
                    <h4>Facebook</h4>
                    <a href="https://www.facebook.com/OWAHighOxygen/">1111111</a>
                    <h4>Gmail</h4>
                    <a href="#">1111111</a>
                    <h4>Số điện thoại</h4>
                    <a href="#">11111111</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main-content %}