{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
    <div class="swiper swip-banner swiper-initialized swiper-horizontal swiper-backface-hidden">
		<div class="swiper-wrapper" id="swiper-wrapper-710b10110db337df9cf" aria-live="polite">
            <div class="swiper-slide" role="group" aria-label="1 / 2" style="width: 1009px;">
                <picture>
                    <source srcset="{% static '/assets/imgs/banners/Anh 2.png' %}" media="(max-width: 600px)">
                    <source srcset="{% static '/assets/imgs/banners/Anh 2.png' %}" media="(max-width: 1000px)">
                    <img src="{% static '/assets/imgs/banners/Banner_Social.png' %}" alt="Fallback image">
                </picture>
                    <div class="main-inner">
					<div class="container">
						<div class="row align-items-center baner-lg">
							<div class="col-12 col-lg-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
								<p class="title">Nước uống i-on kiềm KANGEN OWA - Công nghệ Nhật Bản</p>
								<div>
									<p> Nước uống Kangen OWA High Oxygen được nghiên cứu và phát triển bởi công ty TNHH OWA Việt Nam, từ nguồn nước tự nhiên tươi mát kết hợp với công nghệ nâng cao Oxy trong nước.</p>
                                    <p>Hãy để mỗi ngụm nước là một bước tiến đến sức khỏe toàn diện!</p>
								</div>
							</div>
			
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide " role="group" aria-label="2 / 2" style="width: 1009px;">
                <picture>
                    <source srcset="{% static '/assets/imgs/banners/Slide_1.jpg' %}" media="(max-width: 600px)">
                    <source srcset="{% static '/assets/imgs/banners/Slide_1.jpg' %}" media="(max-width: 1000px)">
                    <img src="{% static '/assets/imgs/image_2.jpg' %}" alt="Fallback image">
                </picture>
				<div class="main-inner">
					<div class="container">
						<div class="row align-items-center baner-lg">
							<div class="col-12 col-lg-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
								<p class="title">Nước uống kangen OWA – Bí quyết bứt phá giới hạn.</p>
								<div>
									<p>Nước ion kiềm, một loại nước uống Kangen được tạo ra qua quá trình điện giải do người Nhật sáng tạo ra, ngày càng được nhiều người ưa chuộng nhờ vào những lợi ích sức khỏe tuyệt vời mà nó mang lại. Với công nghệ tiên tiến được nhập khẩu từ Nhật Bản, chúng tôi xin giới thiệu đến bạn các sản phẩm nước uống ion kiềm chất lượng cao của mình.
                                     </p>
                                     <p>Thanh lọc cơ thể, trung hòa axit, bổ sung năng lượng – tất cả chỉ trong một chai nước!</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swip-banner-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-710b10110db337df9cf" aria-disabled="false">
			<svg class="svg-slide-arrow-rt" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50.56" height="9" viewBox="0 0 50.56 9">
				<path fill="#fff" fill-rule="evenodd" d="M50.56 4.5L46.23 9l-.67-.57L48.86 5H0V4h48.86L45.56.57l.67-.57 4.33 4.5z"></path>
			</svg>
		</div>
		<div class="swip-banner-next" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-710b10110db337df9cf" aria-disabled="true">
			<svg class="svg-slide-arrow-lft" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50.56" height="9" viewBox="0 0 50.56 9">
				<path fill="#fff" fill-rule="evenodd" d="M4.33 0L5 .57 1.7 4h48.86v1H1.7L5 8.43 4.33 9 0 4.5 4.33 0z"></path>
			</svg>
		</div>
		<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
	</div>
    <div class="wrap-product p-4">
        <div class="container">
            <div class="row d-lg-none">
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="grid-item-inner">
                        <div class="grid-item-top ">
                            <a href="#" rel="nofollow" title="Owater bình 20L">
                                <img src="{% static '/assets/imgs/products/Binh nuoc.png' %}" alt="Owater bình 20L">
                            </a>
                        </div>
                        <div class="grid-item-bottom">
                            <div class="product-name-out">
                                <a href="#" title="Owater bình 20L" class="link-product">NƯỚC UỐNG KANGEN OWA TYPE A3 - PH 8.0-8.5</a>
                            </div>
                            <span class="price">45.000đ/bình</span>
                            <button onclick="handleAddToCart(3)" class="btn-style3  btn-block">Mua ngay</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="grid-item-inner">
                        <div class="grid-item-top ">
                            <a href="#" rel="nofollow" title="Owater bình 20L">
                                <img src="{% static '/assets/imgs/products/Binh nuoc A2.png' %}" alt="Owater bình 20L">
                            </a>
                        </div>
                        <div class="grid-item-bottom">
                            <div class="product-name-out">
                                <a href="#" title="Owater bình 20L" class="link-product">NƯỚC UỐNG KANGEN OWA TYPE A2 - PH 8.5-8.9</a>
                            </div>
                            <span class="price">60.000đ/bình</span>
                            <button onclick="handleAddToCart(2)" class="btn-style3  btn-block">Mua ngay</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="grid-item-inner">
                        <div class="grid-item-top ">
                            <a href="#" rel="nofollow" title="Owater bình 20L">
                                <img src="{% static '/assets/imgs/products/Binh nuoc A3.png' %}" alt="Owater bình 20L">
                            </a>
                        </div>
                        <div class="grid-item-bottom">
                            <div class="product-name-out">
                                <a href="#" title="Owater bình 20L" class="link-product">NƯỚC UỐNG KANGEN OWA TYPE A1 - pH 9.0-9.5</a>
                            </div>
                            <!-- <span class="tip__discount">-5%</span> -->
                            <span class="price">
                                100.000đ/bình </span>
                                <button onclick="handleAddToCart(1)" class="btn-style3  btn-block">Mua ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="flex w-full swiper-product-lg ">
            <div class="active-product-info w-[40%]">
                <div class="swiper p-data swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden" data-aos="fade-right">
                    <div class="swiper-wrapper" id="swiper-wrapper-b49535166beae558" aria-live="polite">
                        <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="1 / 6" data-swiper-slide-index="0" style="width: 253px; opacity: 1; transform: translate3d(0px, 0px, 0px); ">
                            <p class="size">NƯỚC UỐNG KANGEN OWA TYPE A3 - PH 8.0-8.5</p>
                            <p class="note"></p>
                            <div class="pro-props">
                                <div class="pro-props__price">Giá: 45.000đ/bình 20L</div>
                            </div>
                            <p></p>
                            <hr>
                            <div classc="text-left">
                                <p >- Công dụng: Có nồng độ pH nhẹ, vị ngọt thanh mát, phù hợp cho người mới bắt đầu sử dụng nước ion kiềm.
                                </p>
                                <p > - Khuyến mãi: Mua 3 bình tặng 1 bình cùng loại trong 1 tháng đầu sử dụng.
                                </p>
                                <p> &nbsp;</p>
                            </div>
                            <a href="{% url 'detail' type='A3' %}" rel="nofollow" title="OWA HIGH OXYGEN TYPE A3" class="btn-style1  btn-block">Xem thêm</a>
                            <button onclick="handleAddToCart(3)" class="btn-style3  btn-block">Mua ngay</button>
                        </div>
                        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6" data-swiper-slide-index="1" style="width: 253px; opacity: 0; transform: translate3d(-253px, 0px, 0px);">
                            <p class="size">NƯỚC UỐNG KANGEN OWA TYPE A2 - PH 8.5-8.9</p>
                            <p class="note"></p>
                            <div class="pro-props">
                                <div class="pro-props__price">Giá: 60.000đ/bình 20L</div>
                            </div>
                            <p></p>
                            <hr>
                            <div class="text mb-3">
                                <p >- Công dụng: Có nồng độ pH nhẹ, vị ngọt thanh mát, phù hợp cho người mới bắt đầu sử dụng nước ion kiềm.
                                </p>
                                <p > - Khuyến mãi: Mua 3 bình tặng 1 bình cùng loại trong 1 tháng đầu sử dụng.
                                </p>
                            </div>
                            <a href="{% url 'detail' type='A2' %}" rel="nofollow" title="OWA HIGH OXYGEN TYPE A2" class="btn-style1  btn-block">Xem thêm</a>
                            <button onclick="handleAddToCart(2)" class="btn-style3  btn-block">Mua ngay</button>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="3 / 6" data-swiper-slide-index="2" style="width: 253px; opacity: 0; transform: translate3d(-506px, 0px, 0px);">
                            <p class="size">NƯỚC UỐNG KANGEN OWA TYPE A1 - pH 9.0-9.5</p>
                            <p class="note"></p>
                            <div class="pro-props">
                                <div class="pro-props__price">Giá: 100.000đ/bình 20L</div>
                                <!-- <div class="pro-props__oldprice">100.000đ/bình </div> -->
                                <!-- <div class="pro-props__discounts">(- 5%)</div> -->
                            </div>
                            <p></p>
                            <hr>
                            <div class="text mb-3">
                                <p >- Công dụng: Có nồng độ pH nhẹ, vị ngọt thanh mát, phù hợp cho người mới bắt đầu sử dụng nước ion kiềm.
                                </p>
                                <p > - Khuyến mãi: Mua 3 bình tặng 1 bình cùng loại trong 1 tháng đầu sử dụng.
                                </p>
                            </div>
                            <a href="{% url 'detail' type='A1' %}" rel="nofollow" title="OWA HIGH OXYGEN TYPE A1" class="btn-style1  btn-block">Xem thêm</a>
                            <button onclick="handleAddToCart(1)" class="btn-style3  btn-block">Mua ngay</button>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>

            <div class="swiper swiper-product w-[60%] relative" thumbsslider="" data-aos="fade-left">
                <div class="swiper-wrapper">
                    <div class="swiper-slide center-flex " role="group" aria-label="1 / 3">
                        <img style="width: 200px; margin: auto;" src="{% static '/assets/imgs/products/Binh nuoc A3.png' %}" alt="Owater">
                    </div>
                    <div class="swiper-slide center-flex" role="group" aria-label="2 / 3">
                        <img style="width: 200px; margin: auto;" src="{% static '/assets/imgs/products/Binh nuoc A2.png' %}" alt="Owater">
                    </div>
                    <div class="swiper-slide center-flex" role="group" aria-label="3 / 3">
                        <img style="width: 200px; margin: auto;" src="{% static '/assets/imgs/products/Binh nuoc.png' %}" alt="Owater">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

            </div>
        </div>
   
    </div>
	<div class="linear-content nxPadding">
		<div class="container">
			<div class="post-content">
				<h1 style="text-align: center;">
					<strong>Nước Owater - Nước khoáng thiên nhiên từ dãy núi Apls của Pháp - OWATER</strong>
				</h1>
				<p style="text-align: justify;">
					<strong>Nước khoáng Owater được sản xuất từ dòng suối nguồn thiên nhiên núi Apls của Pháp. Owater chứa các khoáng chất chất thiên nhiên và chất điện giải có sẵn trong tự nhiên đem đến sự tươi mát, ngon, sức khỏe khi sử dụng.</strong>
				</p>
				<div style="text-align: justify;">
					<div> &nbsp;</div>
				</div>
			</div>
			<div class="row item-campaign no-gutters align-items-center">
				<div class="col-12 col-lg-5 col-img">
					<img src="{% static '/assets/imgs/banners/Anh 2.png' %}" alt="Sản phẩm của Owater">
				</div>
				<div class="col-12 col-lg-7 col-content" data-aos="fade-up">
					<p class="name-home">Sản phẩm của Owater</p>
					<div>
                        <p>Nước khoáng Owater được chiết xuất từ nguồn nước tự nhiên tinh khiết, giàu khoáng chất và các yếu tố vi lượng thiết yếu. Sản phẩm này giúp cung cấp độ ẩm cho cơ thể, cải thiện hệ tiêu hóa và tăng cường sức khỏe tổng quát.</p>
                        <p>Với độ pH lên đến 9.5, nước ion kiềm Owater giúp cân bằng độ pH trong cơ thể, hỗ trợ quá trình trao đổi chất và làm giảm nguy cơ mắc các bệnh mãn tính. Nước ion kiềm Owater là lựa chọn lý tưởng cho những ai muốn duy trì sức khỏe tốt và bảo vệ hệ tiêu hóa.</p>
						<p style="text-align: justify;"> Với các thể tích phù hợp với nhu cầu sử dụng của bạn. Với mẫu thiết kế hiện đại, thân thiện với môi trường, tái chế lại. Đem đến nước Owater cung cấp nước cho bạn bất cứ lúc nào. Uống hàng ngày để nâng cao sức khỏe của bạn.</p>
                        <br>
                        <a href="{% url 'about' %}" class="btn-style2 my-3">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row item-campaign no-gutters img-right align-items-center">
				<div class="col-12 col-lg-5 col-img">
					<img class="w-full" src="{% static '/assets/imgs/banners/Slide_1.jpg' %}" alt="Câu chuyện về chúng tôi">
				</div>
				<div class="col-12 col-lg-7 col-content" data-aos="fade-up">
					<p class="name-home">Câu chuyện về chúng tôi</p>
					<div>
                        <p>Owater ra đời với sứ mệnh mang đến nguồn nước tinh khiết, an toàn và giàu khoáng chất để chăm sóc sức khỏe cộng đồng. Chúng tôi cam kết sử dụng công nghệ tiên tiến và quy trình sản xuất khắt khe nhất để mỗi sản phẩm đều đạt tiêu chuẩn quốc tế về chất lượng.</p>
        
                        <p>Hành Trình Khởi Nguồn: Chúng tôi bắt đầu từ một niềm đam mê với việc cung cấp nguồn nước tinh khiết từ thiên nhiên, giúp người tiêu dùng duy trì sự cân bằng sức khỏe. Với đội ngũ chuyên gia dày dạn kinh nghiệm và trang thiết bị hiện đại, Owater đã nhanh chóng khẳng định được chất lượng và uy tín trên thị trường.</p>
                        
                        <p >Cam Kết Của Chúng Tôi: Chất lượng và sức khỏe của khách hàng luôn là ưu tiên hàng đầu của Owater. Chúng tôi cam kết không ngừng cải tiến quy trình sản xuất, chọn lựa nguyên liệu và áp dụng công nghệ tiên tiến để đảm bảo mỗi giọt nước Owater đến tay người tiêu dùng đều hoàn hảo.</p>
                        
                        <p>Giá Trị Cốt Lõi: Chúng tôi tin rằng sự sáng tạo, chất lượng và trách nhiệm xã hội là những giá trị cốt lõi giúp Owater phát triển bền vững. Chúng tôi không chỉ mang đến sản phẩm chất lượng mà còn hướng tới việc tạo ra cộng đồng khỏe mạnh và ý thức bảo vệ môi trường.</p>
                        <br>
                        <a href="{% url 'about' %}" class="btn-style2 my-3">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row item-campaign no-gutters align-items-center">
				<div class="col-12 col-lg-5 col-img">
					<img src="{% static '/assets/imgs/image_1.jpg' %}" alt="Nước của chúng tôi">
				</div>
				<div class="col-12 col-lg-7 col-content" data-aos="fade-up">
					<p class="name-home">Nước của chúng tôi</p>
					<div>
						<p> Nước ion kiềm, một loại nước uống Kangen được tạo ra qua quá trình điện giải do người Nhật sáng tạo ra, ngày càng được nhiều người ưa chuộng nhờ vào những lợi ích sức khỏe tuyệt vời mà nó mang lại. Với công nghệ tiên tiến được nhập khẩu từ Nhật Bản, chúng tôi xin giới thiệu đến bạn các sản phẩm nước uống ion kiềm chất lượng cao của mình..</p>
                        <br>
                        <a href="{% url 'about' %}" class="btn-style2 my-3">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row item-campaign no-gutters img-right align-items-center">
				<div class="col-12 col-lg-5 col-img">
					<img src="{% static '/assets/imgs/image_2.jpg' %}" alt="Công Nghệ Vi Lượng Tăng Cường Sức Khỏe">
				</div>
				<div class="col-12 col-lg-7 col-content" data-aos="fade-up">
					<p class="name-home">Công Nghệ Vi Lượng Tăng Cường Sức Khỏe</p>
					<div>
                        <p>Lợi Ích Đến Sức Khỏe</p>
                        <p><strong>Tăng Cường Hệ Miễn Dịch:</strong> Các nguyên tố vi lượng giúp kích thích hệ miễn dịch, tăng cường khả năng phòng chống bệnh tật và các tác nhân gây hại từ bên ngoài.</p>
                        <p><strong>Thúc Đẩy Quá Trình Trao Đổi Chất:</strong> Vi lượng là thành phần quan trọng trong các enzyme và hormone, thúc đẩy quá trình trao đổi chất, giúp cơ thể hấp thụ và sử dụng dưỡng chất hiệu quả.</p>
                        <p><strong>Hỗ Trợ Sự Tăng Trưởng và Phát Triển:</strong> Các vi lượng như canxi và kẽm là yếu tố thiết yếu cho sự phát triển của xương và cơ bắp, đặc biệt là ở trẻ em và người đang trong độ tuổi phát triển.</p>
                        <p><strong>Chống Lão Hóa:</strong> Các nguyên tố như selenium và vitamin C giúp chống lại các gốc tự do, từ đó làm chậm quá trình lão hóa và giảm nguy cơ mắc các bệnh mãn tính.</p>
                        <br>
                        <a href="{% url 'about' %}" class="btn-style2 my-3">Xem thêm</a>
                    </div>
				</div>
			</div>
			<div class="row item-campaign no-gutters align-items-center">
				<div class="col-12 col-lg-5 col-img">
					<img src="{% static '/assets/imgs/image_3.jpeg' %}" alt="Bảo vệ nguồn nước">
				</div>
				<div class="col-12 col-lg-7 col-content" data-aos="fade-up">
					<p class="name-home">Bảo vệ nguồn nước</p>
					<div>
						<p>
							<span style="color: rgb(0, 0, 0); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-align: justify;">Chúng tôi luôn trân trọng và biết ơn mọi thứ mà thiên nhiên đã ban tặng. Owater luôn cam kết bảo tồn thông qua các hoạt động bảo vệ tối tác sáng tạo lâu dài gắn liền với thiên nhiên. Ưu tiên của Owater là mang lại một nguồn nước khoáng tự nhiên luôn tốt cho sức khỏe khi sử dụng.</span>
						</p>
                        <br>
                        <a href="{% url 'about' %}" class="btn-style2 my-3">Xem thêm</a>
					</div>
				</div>
			</div>
            <div class="nxMargin post-content">
                <h1>Nước uống i-on kiềm OWA HIGH OXYGEN - Công nghệ Nhật Bản</h1>
                <h2>Sản Xuất Theo Tiêu Chuẩn Quốc Tế</h2>
                <p>Tất cả các sản phẩm nước ion kiềm của chúng tôi đều được sản xuất theo tiêu chuẩn quốc tế, đảm bảo chất lượng và an toàn cho người sử dụng. Quá trình sản xuất được kiểm soát chặt chẽ từ nguồn nước đầu vào đến khi thành phẩm, đảm bảo mỗi giọt nước bạn uống đều đạt chất lượng cao nhất.</p>
                
                <h2>Độ pH Cao Lên Đến 9.5</h2>
                <p>Nước ion kiềm có độ pH cao lên đến 9.5, giúp cân bằng độ pH trong cơ thể. Điều này rất quan trọng trong việc duy trì sức khỏe tổng quát, vì cơ thể thường bị axit hóa do chế độ ăn uống không lành mạnh và căng thẳng. Việc uống nước có độ pH cao giúp trung hòa axit dư thừa, cải thiện hệ tiêu hóa và tăng cường sức khỏe.</p>
                
                <h2>Nồng Độ i-on Hydroxide Cao</h2>
                <p>Nước ion kiềm có nồng độ ion hydroxide cao, hỗ trợ sức khỏe tổng quát bằng cách giúp cơ thể loại bỏ các gốc tự do có hại. Điều này giúp ngăn ngừa quá trình lão hóa, tăng cường hệ miễn dịch và giảm nguy cơ mắc các bệnh mãn tính như tiểu đường và bệnh tim mạch.</p>
                
                <h2>Nghiên Cứu Từ Học Viện Y Khoa Hoa Kỳ</h2>
                <p>Các nghiên cứu từ Học viện Y khoa Hoa Kỳ đã cho thấy nước ion kiềm, khi kết hợp với các nguyên tố vi lượng, có tác dụng tích cực cho sức khỏe. Nước ion kiềm giúp cải thiện chức năng của các cơ quan nội tạng, tăng cường quá trình trao đổi chất và hỗ trợ điều trị một số bệnh lý.</p>
                <p style="text-align: justify;"> Nước khoáng Owa chứa các chất điện giải tự nhiên, góp phần tạo nên hương vị đặc trưng và dễ chịu </p>
                <table border="0" cellpadding="0" style="width: 100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align: justify;">
                                    <strong>Tên gọi</strong>
                                </p>
                            </td>
                            <td>
                                <p style="text-align: justify;">
                                    <strong>Kí hiệu</strong>
                                </p>
                            </td>
                            <td>
                                <p style="text-align: justify;">
                                    <strong>Hàm lượng (mg/ L)</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Canxi</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Ca</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 80</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Kali</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> K</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 1</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Magie</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Mg</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 26</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Hidrocacbonat</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> HCO3</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 360</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Natri</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Na</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 6,5</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Clo</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Cl</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Nitrat</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> NO3</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 3,8</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Silica</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> SO2</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 14</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Sunfat</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> SO4</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 15</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Nước khoáng Owa được khai thác từ nguồn nước tự nhiên, đảm bảo các thuộc tính tốt nhất cho sức khỏe:</p>
                <ul>
                    <li><strong>Nguồn gốc tự nhiên:</strong> Được lấy từ mạch nước ngầm sâu, giữ độ tinh khiết tự nhiên.</li>
                    <li><strong>Hàm lượng khoáng chất:</strong> Bổ sung các vi chất thiết yếu như canxi, magie, natri, và kali.</li>
                    <li><strong>Độ tinh khiết cao:</strong> Quy trình đóng chai hiện đại, giữ nguyên độ tinh khiết.</li>
                    <li><strong>pH ổn định:</strong> pH tự nhiên từ 6.5 - 8.5, hỗ trợ cân bằng axit-kiềm.</li>
                    <li><strong>Không xử lý hóa học:</strong> Giữ nguyên các khoáng chất tự nhiên từ nguồn nước.</li>
                    <li><strong>Hỗ trợ sức khỏe:</strong> Tăng cường sức đề kháng và bổ sung năng lượng mỗi ngày.</li>
                </ul>
                <h2 style="text-align: justify;">
                    <span id="cke_bm_460S" style="display: none;">&nbsp;</span>
                    <strong>Nước khoáng Owa đến từ đâu</strong>
                </h2>
                <ul>
                    <li style="text-align: justify;">Nước khoáng Owa được khai thác từ các mạch nước ngầm sâu trong lòng đất, nơi được bảo vệ tự nhiên bởi các tầng địa chất lâu năm. Những khu vực khai thác này thường nằm ở các vùng núi đá vôi hoặc những khu vực địa chất đặc thù, nơi nước được bổ sung khoáng chất tự nhiên.</li>
                    <li style="text-align: justify;">Được đóng chai tại nhà máy đạt tiêu chuẩn, nước khoáng Owa cam kết giữ trọn vẹn sự tinh khiết và giàu khoáng chất từ nguồn thiên nhiên.</li>
                </ul>

                <h2 style="text-align: justify;">
                    <strong>Nước Owa được tạo ra như thế nào?</strong>
                </h2>
                <p>Nước khoáng Owa được tạo ra qua một quy trình khép kín, đảm bảo giữ nguyên sự tinh khiết và các khoáng chất tự nhiên từ nguồn nước. Dưới đây là các bước chính:</p>
                <ul>
                    <li><strong>Khai thác từ mạch nước ngầm:</strong> Nước được lấy từ các mạch nước ngầm sâu trong lòng đất, nơi được bảo vệ tự nhiên và giàu khoáng chất.</li>
                    <li><strong>Lọc cơ học:</strong> Nước được lọc qua các lớp cát và than hoạt tính để loại bỏ tạp chất lớn.</li>
                    <li><strong>Lọc vi sinh:</strong> Sử dụng công nghệ lọc tinh và tiệt trùng bằng tia cực tím (UV) hoặc ozone để loại bỏ vi khuẩn và vi sinh vật.</li>
                    <li><strong>Đóng chai khép kín:</strong> Quy trình đóng chai được thực hiện trong môi trường vô trùng để giữ nguyên chất lượng nước.</li>
                </ul>
                <p>Quy trình sản xuất nghiêm ngặt đảm bảo nước khoáng Owa luôn tươi mới và an toàn cho sức khỏe.</p>
                <h2 style="text-align: justify;">
                    <strong>Owa có nghĩa là gì?</strong>
                </h2>
                <p style="text-align: justify;"> Owa không cố gắng ẩn sau một cái tên phức tạp, hoa mỹ nào đó. Chúng tôi tự gọi mình là Owa, bởi vì gợi lên cảm giác tươi mới, tinh khiết hoặc gần gũi với thiên nhiên. </p>
            </div>
		</div>
	</div>

</main>
<script>
        
</script>
<script> 
    document.addEventListener('DOMContentLoaded', () => {

        var banner = new Swiper('.swip-banner', {
            loop: true,
            slidesPerView: 1,
            initialSlide: 0, // Đặt slide đầu tiên là active
            navigation: {
                nextEl: ".swip-banner-next",
                prevEl: ".swip-banner-prev",
            },
            // autoplay: {
            // delay: 4000,
            // },
        });
        var product = new Swiper('.swiper-product', {
                // slidesPerView: 6,
                // spaceBetween: 100,
                initialSlide: 0,
                // centeredSlides: true,
                loop: false,
                navigation: {
                   nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                // freeMode: true,
                // watchSlidesProgress: true,
            });


        var swiper_product_info = new Swiper(".p-data", {
            loop: true,
            slidesPerView: 0,
            effect: 'fade',
            thumbs: {
                swiper: product,
            },
        });

        product.on("slideChange", (e) => {
            swiper_product_info.slideTo(product.activeIndex);
        });
    })
</script>
{% endblock main-content %}