{% extends "index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="nxPaddingPage">
        <div class="container text-center">
            <h1 class="">Danh Sách Đơn Hàng</h1>
            <div class="">
                <table>
                    <thead>
                        <tr  style="background-color:rgba(0,0,0,0.05)">
                            <th >ID</th>
                            <th >Tên khác hàng</th>
                            <th >Trạng Thái</th>
                            <th >Thời Gian</th>
                            <th >Loại / Số lượng</th>
                            <th >Tổng Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in listOrder %}
                            <tr   style="background-color:rgba(255, 255, 255, 0.05)" >
                                <td>{{ item.id }}</td>
                                <td>{{ item.username }}</td>
                                
                                <td>
                                    {% if item.status == "waiting" %}
                                    Đang chờ xác nhận
                                    {% elif item.status == "processing" %}
                                    Đang xử lý
                                    {% elif item.status == "shipping" %}
                                    Đang giao hàng
                                    {% endif %}
                                </td>
                                <td>{{ item.createtime }}</td>
                                <td >
                                    {% for product in item.dataOder %}
                                    <div>
                                        <p>
                                            <strong>{{ product.type }}</strong>
                                            <span>x {{ product.quantity }}</span>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </td>
                                <td > {{ item.total }}đ</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>
    let listOrder = [
        {% for item in listOrder %}
        {
            "id" : "{{ item.id }}",
            "username" : "{{ item.username }}",
            "total" : "{{ item.total }}",
            "status" : "{{ item.status }}",
            "createtime" : "{{ item.createtime }}",
            "dataOder" : {{ item.dataOder|safe }}
            },
        {% endfor %}
    ];
</script>
{% endblock main-content %}