{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
	<div class="nxPaddingPage">
		<div class="container">
			<h1 class="text-center page-title">Giỏ hàng</h1>
			<div class="row">
				<div class="col-12">
					<div class="contact page-partial">
						<section class="gio-hang">
							<div class="container">
								<div class="row row-cart">
									<div class="col-12 col-sm-12 col-md-8 pLeft">
										<!-- <div class="gio-hang-container">
											<div class="gio-hang-header flex justify-between p-4 bg-gray-200 rounded-lg font-bold">
												<div class="w-1/12 text-center">STT</div>
												<div class="w-2/12">Sản phẩm</div>
												<div class="w-4/12">Tên sản phẩm</div>
												<div class="w-2/12 hidden sm:block text-center">Giá bán</div>
												<div class="w-2/12 text-center">Số lượng</div>
												<div class="w-2/12 text-right">Tổng tiền</div>
											</div>
											<div>
												<div class="gio-hang-item flex justify-between items-center p-4 border-b">
													<div class="w-1/12 text-center">
														<span>1</span>
													</div>
													<div class="w-2/12">
														<img style="width: 50px;" src="{% static '/assets/imgs/products/Binh nuoc A3.png' %}" alt="Owarter bình 20L">
													</div>
													<div class="w-4/12">
														<a href="#" class="font-medium text-gray-700 hover:text-blue-500">Owarter bình 20L</a>
													</div>
													<div class="w-2/12 hidden sm:block text-center">
														<span>45.000đ/bình</span>
													</div>
													<div class="w-2/12 flex justify-center items-center">
														<button class="btn-style3 h-10 w-10 border rounded-full flex justify-center items-center">
															<i class="fa-solid fa-minus"></i>
														</button>
														<input id="quantity" value="1" readonly class="h-10 w-20 text-center border mx-2 rounded">
														<button class="btn-style3 h-10 w-10 border rounded-full flex justify-center items-center">
															<i class="fa-solid fa-plus"></i>
														</button>
													</div>
													<div class="w-2/12 text-right">
														<span>45.000đ</span>
													</div>
												</div>
											</div>
										</div> -->
										<table class="table gio-hang-table">
											<thead>
												<tr>
													<th colspan="3">Sản phẩm</th>
													<th class="lg-hidden">Giá bán / bình</th>
													<th class="">Số lượng</th>
													<th class="">Tổng tiền</th>
												</tr>
											</thead>
											<tbody id="cart-container">
												<tr>
													<td>
														<span>1</span>
													</td>
													<td class="pro-thumnail" >
														<a href="#" title="Owarter bình 20L">
															<img style="width: 20px;" src="{% static '/assets/imgs/products/Binh nuoc A3.png' %}" alt="Owarter bình 20L">
														</a>
													</td>
													<td class="pro-name" >
														<a href="#" class="link-black" title="Owarter bình 20L">Owarter bình 20L</a>
													</td>
													<td class="pro-price hidden-sm" >45.000đ/bình</td>
													<td >
														<div class="">
															<button  class="btn-style3 h-10 w-10 border p-2 outline-none">
																<i class="fa-solid fa-minus"></i>
															</button>
															<input id="quantity" value="1" readonly class="h-10 outline-none w-20 border p-2 text-center" type="text">
															<button class="btn-style3 h-10 w-10 border outline-none p-2">
																<i class="fa-solid fa-plus"></i>
															</button>
														</div>
													</td>
													<td class="pro-price hidden-sm" >45.000đ</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-12 col-sm-12 col-md-4 pRigth">
										<table class="table gio-hang-table bg-totel-cart">
											<tbody>
												<tr>
													<td>
														<strong>Tổng tiền</strong>
													</td>
													<td class="link-red text-right">
														<strong> <span id="cart-total"><span></span>đ</strong>
													</td>
												</tr>
												<tr>
													<td colspan="2" class="text-center">
														<a class="btn-blue" href="{% url 'orderInfo' %}">
															Đặt hàng
														</a>
														<!-- <input class="btn-blue" type="submit" name="btnCheckout" value="Đặt hàng"> -->
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
    </div>
</main>
<script>


</script>

{% endblock main-content %}