{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
	<div class="nxPaddingPage">
		<div class="container">
			<h1 class="text-center page-title">Giỏ hàng</h1>
			<div class="row">
				<div class="col-12">
					<div class="contact page-partial">
						<section class="gio-hang">
							<div class="container">
								<div class="row row-cart">
									<div class="col-12 col-sm-12 col-md-8 pLeft pb-4">
										
										<table class="table gio-hang-table">
											<thead>
												<tr>
													<th style="text-align: center;" id="dynamicColspan" colspan="3">Sản phẩm</th>
													<th  style="text-align: center;" class="lg-hidden">Giá bán / bình</th>
													<th  style="text-align: center;" class="">Số lượng</th>
													<th  style="text-align: center;" class="">Tổng tiền</th>
												</tr>
											</thead>
											<tbody id="cart-container">
												<tr>
													<td>
														<span>1</span>
													</td>
													<td class="pro-thumnail" >
														<a href="#" title="Owarter bình 20L">
															<img  loading="lazy"  style="width: 20px;" src="{% static '/assets/imgs/products/Binh nuoc A3.webp' %}" alt="Owarter bình 20L">
														</a>
													</td>
													<td class="pro-name" >
														<a href="#" class="link-black" title="Owarter bình 20L">Owarter bình 20L</a>
													</td>
													<td class="pro-price hidden-sm" >45.000đ/bình</td>
													<td >
														<div class="">
															<button  class="btn-style3 h-10 w-10 border p-2 outline-none">
																<i class="fa-solid fa-minus"></i>
															</button>
															<input id="quantity" value="1" readonly class="h-10 outline-none w-20 border p-2 text-center" type="text">
															<button class="btn-style3 h-10 w-10 border outline-none p-2">
																<i class="fa-solid fa-plus"></i>
															</button>
														</div>
													</td>
													<td class="pro-price hidden-sm" >45.000đ</td>
												</tr>
											</tbody>
										</table>
									
									</div>
									<div class="col-12 col-sm-12 col-md-4 pRigth">
										<table class="table gio-hang-table bg-totel-cart">
											<tbody>
												<tr>
													<td>
														<strong>Tổng tiền</strong>
													</td>
													<td class="link-red text-right">
														<strong> <span id="cart-total"><span></span>đ</strong>
													</td>
												</tr>
												<tr>
													<td colspan="2" class="text-center">
														<a class="btn-blue" href="{% url 'orderInfo' %}">
															Đặt hàng
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
    </div>
</main>
<script>
	function getScreenSize() {
    const width = window.screen.width;

		const cell = document.getElementById("dynamicColspan");
		if (width > 600) {
			cell.colSpan = 3; // Khi rộng hơn 600px
		} else {
			cell.colSpan = 1; // Khi nhỏ hơn 400px
		}
    }
  
	// Gọi hàm khi tải trang và khi thay đổi kích thước
	window.addEventListener("resize", getScreenSize);
	window.addEventListener("load", getScreenSize);
  </script>

{% endblock main-content %}