{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
    <div class="nxPaddingPage">
        <div class="container">
            <h1 class="text-center page-title">Sản Phẩm</h1>

            <div class="container ">
                <div class="row justify-center mb-5">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="grid-item-inner">
                            <div class="grid-item-top ">
                                <a href="#" rel="nofollow" title="Owater bình 20L">
                                    <img src="{% static '/assets/imgs/products/Binh nuoc.png' %}" alt="Owater bình 20L">
                                </a>
                            </div>
                            <div class="grid-item-bottom">
                                <div class="product-name-out">
                                    <a href="#" title="Owater bình 20L" class="link-product">OWA HIGH OXYGEN TYPE A3 - pH 8.0-8.5</a>
                                </div>
                                <span class="price">45.000đ/bình</span>
                                <button onclick="handleAddToCart(3)" class="btn btn-style3 btn-sm">Mua ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="grid-item-inner">
                            <div class="grid-item-top ">
                                <a href="#" rel="nofollow" title="Owater bình 20L">
                                    <img src="{% static '/assets/imgs/products/Binh nuoc A2.png' %}" alt="Owater bình 20L">
                                </a>
                            </div>
                            <div class="grid-item-bottom">
                                <div class="product-name-out">
                                    <a href="#" title="Owater bình 20L" class="link-product">OWA HIGH OXYGEN TYPE A2 - pH 8.5-8.9</a>
                                </div>
                                <span class="price">60.000đ/bình</span>
                                <button onclick="handleAddToCart(2)" class="btn btn-style3 btn-sm">Mua ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="grid-item-inner">
                            <div class="grid-item-top ">
                                <a href="#" rel="nofollow" title="Owater bình 20L">
                                    <img src="{% static '/assets/imgs/products/Binh nuoc A3.png' %}" alt="Owater bình 20L">
                                </a>
                            </div>
                            <div class="grid-item-bottom">
                                <div class="product-name-out">
                                    <a href="#" title="Owater bình 20L" class="link-product">OWA HIGH OXYGEN TYPE A1 - pH 9.0-9.5</a>
                                </div>
                                <!-- <span class="tip__discount">-5%</span> -->
                                <span class="price">
                                    100.000đ/bình </span>
                                    <button onclick="handleAddToCart(1)" class="btn btn-style3 btn-sm">Mua ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-page details-all details-table pt-2">
                <h2 style="text-align: justify;"> Các sản phẩm nước khoáng Owater chứa các khoáng chất quý từ thiên nhiên</h2>
                <p style="text-align: justify;">
                    <strong>Nước Owater là sản phẩm nước khoáng thiên nhiên được sản xuất tại nguồn suối từ dãy núi Apls của Pháp. Sản phẩm không qua bất kỳ các hợp chất hoặc hoàn trộn các chất khác. Đều đóng chai tại nguồn suối có các khoáng chất quý tại Apls.</strong>
                </p>

                
                <p style="text-align: center;">
                    <img alt="Sản phẩm nước khoáng Owater" src="{% static '/assets/imgs/banners/Slide_1.jpg' %}" style="width: 1600px;">
                </p>
                <h2 style="text-align: justify;">
                    <strong>Owater và thành phần thuộc tính của nước</strong>
                </h2>
                <p style="text-align: justify;"> Thành phần khoáng chất (mg / L) của nước Owater.</p>
                <table border="1" cellpadding="0" style="width: 100%">
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <strong>Tên gọi</strong>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <strong>Kí hiệu</strong>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <strong>Hàm lượng (mg/ L)</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Canxi</p>
                            </td>
                            <td>
                                <p> Ca</p>
                            </td>
                            <td>
                                <p> 80</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Kali</p>
                            </td>
                            <td>
                                <p> K</p>
                            </td>
                            <td>
                                <p> 1</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Magie</p>
                            </td>
                            <td>
                                <p> Mg</p>
                            </td>
                            <td>
                                <p> 26</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Hidrocacbonat</p>
                            </td>
                            <td>
                                <p> HCO3</p>
                            </td>
                            <td>
                                <p> 360</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Natri</p>
                            </td>
                            <td>
                                <p> Na</p>
                            </td>
                            <td>
                                <p> 6,5</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Clo</p>
                            </td>
                            <td>
                                <p> Cl</p>
                            </td>
                            <td>
                                <p> 10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Nitrat</p>
                            </td>
                            <td>
                                <p> NO3</p>
                            </td>
                            <td>
                                <p> 3,8</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Silica</p>
                            </td>
                            <td>
                                <p> SO2</p>
                            </td>
                            <td>
                                <p> 15</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Sunfat</p>
                            </td>
                            <td>
                                <p> SO4</p>
                            </td>
                            <td>
                                <p> 14</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Tổng chất rắn hòa tan</p>
                            </td>
                            <td>
                                <p> TDS</p>
                            </td>
                            <td>
                                <p> 510</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align: justify;">
                    <strong>Nước Owater&nbsp;</strong>thuộc tính nước chất điện giải và khoáng chất tự nhiên. Đặc trưng bởi sự pha trộn tự nhiên của các chất điện giải và khoáng chất. Thành phần tự nhiên này góp phần tạo nên sự mát lạnh chất lượng của nước Owater.
                </p>
                <h3 style="text-align: justify;">
                    <strong>Các chất điện giải và khoáng chất tự nhiên&nbsp;</strong>
                </h3>
                <p style="text-align: justify;"> Đặc trưng bởi sự pha trộn tự nhiên của các chất điện giải và khoáng chất. Thành phần tự nhiên này góp phần tạo nên hương vị mát lạnh khi uống vào.</p>
                <h3 style="text-align: justify;">
                    <strong>Công Nghệ Vi Lượng Tăng Cường Sức Khỏe</strong>
                </h3>
                <p style="text-align: justify;"> Owater được thanh lọc qua sông băng và đá trong 15 năm trước khi được đóng chai tại nguồn.</p>
                <h3 style="text-align: justify;">
                    <strong>Bao bì sản phẩm thân thiện với môi trường</strong>
                </h3>
                <p style="text-align: justify;"> Ngày nay, chai&nbsp; <a href="">
                        <span style="color: rgb(255, 0, 0);">
                            <strong>nước khoáng Owa</strong>
                        </span>
                    </a>&nbsp;có thể tái chế và chứa trung bình 40% rPET trên toàn phạm vi, mục tiêu đạt 100% sản phẩm tái chế thân thiện với môi trường vào năm 2025. </p>
                <h3 style="text-align: justify;">
                    <strong>Carbon trung tính</strong>
                </h3>
                <p style="text-align: justify;"> 7,2 pH carbon trung tính. Địa điểm đóng chai Owa chứng nhận trung tính vào năm 2017. Cho đến tháng 4 năm 2020, Owater đã từng bước thực hiện hành trình hướng tới chứng nhận toàn cầu.</p>
            </div>
        </div>
    </div>
</main>
<script>
        
</script>

{% endblock main-content %}