<div class="wrap-product nxPadding">
    <div class="container">
        <div class="row d-lg-none">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="grid-item-inner">
                    <div class="grid-item-top ">
                        <a href="https://evianwater.vn/evian-330ml.htm" rel="nofollow" title="Owater bình 20L">
                            <img src="{% static '/assets/imgs/products/Binh nuoc.png' %}" alt="Owater bình 20L">
                        </a>
                    </div>
                    <div class="grid-item-bottom">
                        <div class="product-name-out">
                            <a href="https://evianwater.vn/evian-330ml.htm" title="Owater bình 20L" class="link-product">Owater 330ml (Thùng 24 chai)</a>
                        </div>
                        <span class="price">600.000 đ</span>
                        <a href="https://evianwater.vn/?idCart=3436" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="grid-item-inner">
                    <div class="grid-item-top ">
                        <a href="https://evianwater.vn/evian-500ml.htm" rel="nofollow" title="Owater chai nhựa 500ml (Thùng / 24 Chai)">
                            <img src="{% static '/assets/imgs/products/Binh nuoc A2.png' %}" alt="Owater chai nhựa 500ml (Thùng / 24 Chai)">
                        </a>
                    </div>
                    <div class="grid-item-bottom">
                        <div class="product-name-out">
                            <a href="https://evianwater.vn/evian-500ml.htm" title="Owater chai nhựa 500ml (Thùng / 24 Chai)" class="link-product">Owater 500ml (Thùng 24 chai)</a>
                        </div>
                        <span class="price">720.000 đ</span>
                        <a href="https://evianwater.vn/?idCart=3440" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="grid-item-inner">
                    <div class="grid-item-top ">
                        <a href="https://evianwater.vn/evian-750ml.htm" rel="nofollow" title="Owater chai nhựa 750ml nắp thể thao (thùng / 12 chai)">
                            <img src="{% static '/assets/imgs/products/Binh nuoc A3.png' %}" alt="Owater chai nhựa 750ml nắp thể thao (thùng / 12 chai)">
                        </a>
                    </div>
                    <div class="grid-item-bottom">
                        <div class="product-name-out">
                            <a href="https://evianwater.vn/evian-750ml.htm" title="Owater chai nhựa 750ml nắp thể thao (thùng / 12 chai)" class="link-product">Owater 750ml Sport (Thùng 12 chai)</a>
                        </div>
                        <!-- <span class="tip__discount">-5%</span> -->
                        <span class="price">
                            <small>700.000 đ</small> 670.000 đ </span>
                        <a href="https://evianwater.vn/?idCart=3428" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="active-product-info d-none d-lg-block">
        <div class="swiper p-data swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden" data-aos="fade-right">
            <div class="swiper-wrapper" id="swiper-wrapper-b49535166beae558" aria-live="polite">
                <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="1 / 6" data-swiper-slide-index="0" style="width: 253px; opacity: 1; transform: translate3d(0px, 0px, 0px); ">
                    <p class="size">OWA HIGH OXYGEN TYPE A3 - pH 8.0-8.5</p>
                    <p class="note"></p>
                    <div class="pro-props">
                        <div class="pro-props__price">Giá: 45.000đ/bình 20L</div>
                    </div>
                    <p></p>
                    <hr>
                    <div style="text-align: left;">
                        <p >- Công dụng: Có nồng độ pH nhẹ, vị ngọt thanh mát, phù hợp cho người mới bắt đầu sử dụng nước ion kiềm.
                            
                        </p>
                        <p > - Khuyến mãi: Mua 3 bình tặng 1 bình cùng loại trong 1 tháng đầu sử dụng.
                        </p>
                        <p> &nbsp;</p>
                    </div>
                    <a href="https://evianwater.vn/?idCart=3436" class="btn btn-style3 btn-lg btn-block">Mua ngay</a>
                </div>
                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6" data-swiper-slide-index="1" style="width: 253px; opacity: 0; transform: translate3d(-253px, 0px, 0px);">
                    <p class="size">Owater 500ml (Thùng 24 chai)</p>
                    <p class="note"></p>
                    <div class="pro-props">
                        <div class="pro-props__price">Giá: 720.000 đ</div>
                    </div>
                    <p></p>
                    <hr>
                    <div class="text mb-3">

                    </div>
                    <a href="https://evianwater.vn/?idCart=3440" class="btn btn-style3 btn-lg btn-block">Mua ngay</a>
                </div>
                <div class="swiper-slide" role="group" aria-label="3 / 6" data-swiper-slide-index="2" style="width: 253px; opacity: 0; transform: translate3d(-506px, 0px, 0px);">
                    <p class="size">Owater 750ml Sport (Thùng 12 chai)</p>
                    <p class="note"></p>
                    <div class="pro-props">
                        <div class="pro-props__price">Giá: 670.000 đ</div>
                        <div class="pro-props__oldprice">700.000 đ</div>
                        <div class="pro-props__discounts">(- 5%)</div>
                    </div>
                    <p></p>
                    <hr>
                    <div class="text mb-3">
                        <p style="text-align: justify;">
                            <strong>Owater 750ml chai nhựa nắp thể thao dễ mở và dễ kết hợp với mọi phong cách sống năng động. Việc tập luyện của bạn có thể khó khăn, nhưng việc duy trì đủ nước trong và sau khi tập là điều cần thiết. Với sự tiện lợi cũng nhưng khoáng chất từ thiên nhiên đem đến cho bạn một sức khỏe dồi dào.</strong>
                        </p>
                    </div>
                    <a href="https://evianwater.vn/?idCart=3428" class="btn btn-style3 btn-lg btn-block">Mua ngay</a>
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
    <div class="swiper swiper-product d-none d-lg-block swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs" thumbsslider="" data-aos="fade-left">
        <div class="swiper-wrapper" id="swiper-wrapper-54151014e229e110fa" aria-live="polite" style="transition-duration: 0ms; transition-delay: 0ms; transform: translate3d(277.25px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-prev swiper-slide-thumb-active" role="group" aria-label="1 / 6" style="width: 84.8333px; margin-right: 100px;">
                <img src="{% static '/assets/imgs/products/Binh nuoc.png' %}" alt="Owater bình 20L">
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="2 / 6" style="width: 84.8333px; margin-right: 100px;">
                <img src="{% static '/assets/imgs/products/Binh nuoc A2.png' %}" alt="Owater chai nhựa 500ml (Thùng / 24 Chai)">
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-next" role="group" aria-label="3 / 6" style="width: 84.8333px; margin-right: 100px;">
                <img src="{% static '/assets/imgs/products/Binh nuoc A3.png' %}" alt="Owater chai nhựa 750ml nắp thể thao (thùng / 12 chai)">
            </div>
        </div>
        <div class="swiper-product-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-54151014e229e110fa" aria-disabled="false">
            <svg class="svg-slide-arrow-lft" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50.56" height="9" viewBox="0 0 50.56 9">
                <path fill="#fff" fill-rule="evenodd" d="M4.33 0L5 .57 1.7 4h48.86v1H1.7L5 8.43 4.33 9 0 4.5 4.33 0z"></path>
            </svg>
        </div>
        <div class="swiper-product-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-54151014e229e110fa" aria-disabled="false">
            <svg class="svg-slide-arrow-rt" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50.56" height="9" viewBox="0 0 50.56 9">
                <path fill="#fff" fill-rule="evenodd" d="M50.56 4.5L46.23 9l-.67-.57L48.86 5H0V4h48.86L45.56.57l.67-.57 4.33 4.5z"></path>
            </svg>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    
    </div>
</div>