{% extends "index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="nxPaddingPage">
        <h1 class="text-center page-title">Chính sách đổi trả hàng</h1>
        <div class="container ">
            <div class="row item-campaign no-gutters align-items-center">		
				<div class="col-12 col-lg-7 col-content" >
                    <div id="contents">
                        <h2> Chính sách đổi trả hàng</h2>
                        <p> Khi quý khách cần muốn đổi trả hàng cần lưu ý một số vấn đề sau:</p>
                        <ul>
                            <li> Chúng tôi chấp nhận đổi trả hàng do lỗi của nhà sản xuất.</li>
                        </ul>
                        <p> Chúng tôi chấp nhận đổi trả hàng khi sản phẩm bị một số vấn đề sau đây:</p>
                        <ul>
                            <li> Tem nhãn sản phẩm không có.</li>
                            <li> Sản phẩm bị móp méo, bể hư hỏng.</li>
                        </ul>
                        <h3> Quy định đổi trả hàng</h3>
                        <ul>
                            <li> Lỗi của Owa chúng tôi đổi trả hoàn toàn miễn phí.</li>
                            <li> Lỗi người mua hàng chúng tôi đổi trả với giá 30%.</li>
                        </ul>
                    </div>
				</div>
                <div class="col-12 col-lg-5 col-img">
                    <img src="{% static '/assets/imgs/banners/Untitled-2.webp' %}" alt=" image">
				</div>
			</div>
        </div>
    </div>
</main>
{% endblock main-content %}