{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
    <div class="nxPaddingPage">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="thumb-img">
                        <div class="pro-detail-img">
                            <div class="center-flex">
                                <img src="{% static '/assets/imgs/products/Binh nuoc.png' %}" class="" style="width: 220px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="related-product"></div>
                    <h1 class="product-name">OWA HIGH OXYGEN TYPE A1 - pH 9.0-9.5</h1>
                    <div class="rating-top">
                        <span class="rating">
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                        </span>
                        <span class="count">
                            <a href="#commentpage" rel="nofollow" title="(2 đánh giá)">(2 đánhgiá)</a>
                        </span>
                        <span class="count">0 Đã bán</span>
                    </div>
                    <div class="pro-props__price">Giá bán: 100.000 đ</div>
                    <div class="pro-desc">
                        <p style="text-align: justify;">
                            <strong>Owarter bình 20L là loại nước cao cấp, khoáng chất hoàn toàn tự nhiên được sản xuất và nhập khẩu tại Pháp. Dễ dàng bỏ vào túi xách của bạn. Sản phẩm Owarter là người bạn đồng hành hoàn hảo. Nó cũng là một dung tích tuyệt vời cho cuộc sống.</strong>
                        </p>
                        <p> &nbsp;</p>
                    </div>
                    <div class="pro-property flex justify-center hidden">
                        <div class="property-item flex-1">
                            <button onclick="decreaseQuantity()" class="btn-style3 h-10 w-10 border p-2 outline-none">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <input id="quantity" value="1" readonly class="h-10 outline-none w-20 border p-2 text-center" type="text">
                            <button onclick="increaseQuantity()" class="btn-style3 h-10 w-10 border outline-none p-2">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="flex-1 ">
                            <button class="h-10 w-full btn-style3  h-full">
                                <i class="fa-solid fa-shopping-cart  "></i>
                                <span>Thêm vào giỏ hàng</span>
                            </button>
                        </div>
                    </div>
                    <button onclick="handleAddToCart(3)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#quickbuy">
                        <strong>Mua ngay</strong>
                        <span>Gọi điện xác nhận và giao hàng tận nơi</span>
                    </button>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="policy-product" id="policy">
                        <div>
                            <div class="nutri-list">
                                <ul class="light-blue">
                                    <li> Calcium <span>80</span>
                                    </li>
                                    <li> Magnesium <span>26</span>
                                    </li>
                                    <li> Potassium <span>1</span>
                                    </li>
                                    <li> Sodium <span>6.5</span>
                                    </li>
                                    <li> Nitrates <span>3.8</span>
                                    </li>
                                    <li> Bicarbonates <span>360</span>
                                    </li>
                                    <li> Sulfates <span>14</span>
                                    </li>
                                    <li> Silica <span>15</span>
                                    </li>
                                    <li> Chlorides <span>10</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<script>
    function increaseQuantity() {
  const quantityInput = document.getElementById('quantity');
  let currentValue = parseInt(quantityInput.value); // Lấy giá trị hiện tại
  quantityInput.value = currentValue + 1; // Tăng giá trị lên 1
}

function decreaseQuantity() {
  const quantityInput = document.getElementById('quantity');
  let currentValue = parseInt(quantityInput.value);
  if (currentValue > 1) {
    quantityInput.value = currentValue - 1; // Giảm giá trị xuống 1 (nếu lớn hơn 1)
  }
}
</script>

{% endblock main-content %}