{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
	<div class="nxPaddingPage">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="thumb-img">
						<div class="pro-detail-img">
							<div class="_img">
                                <img src="https://evianwater.vn/library/module_new/evian-chai-nhua-330ml-thung-24-chai_s3436.png">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-5">
					<div class="related-product"></div>
					<h1 class="product-name">Owarter binh 20L</h1>
					<ul class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
						<li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
							<a property="item" typeof="WebPage" href="https://evianwater.vn/" title="Trang chủ">
								<span property="name">Trang chủ</span>
							</a>
							<meta property="position" content="1">
						</li>
						<li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
							<a property="item" typeof="WebPage" href="https://evianwater.vn/san-pham.htm" title="Sản Phẩm">
								<span property="name">Sản Phẩm</span>
							</a>
							<meta property="position" content="2">
						</li>
					</ul>
					<div class="rating-top">
						<span class="rating">
							<i class="las la-star"></i>
							<i class="las la-star"></i>
							<i class="las la-star"></i>
							<i class="las la-star"></i>
							<i class="las la-star"></i>
						</span>
						<span class="count">
							<a href="#commentpage" rel="nofollow" title="(2 đánh giá)">(2 đánhgiá)</a>
						</span>
						<span class="count">0 Đã bán</span>
					</div>
					<ul class="masanpham d-flex">
						<li>Mã Sản phẩm: <strong class="text-uppercase font-weight-bold">Owarter 330ml (Thùng 24 chai)</strong>
						</li>
						<li>
							<i class="las la-eye"></i> 3.988
						</li>
					</ul>
					<div class="pro-props__price">Giá bán: 600.000 đ</div>
					<div class="pro-desc">
						<p style="text-align: justify;">
							<strong>Owarter bình 20L là loại nước cao cấp, khoáng chất hoàn toàn tự nhiên được sản xuất và nhập khẩu tại Pháp. Dễ dàng bỏ vào túi xách của bạn. Sản phẩm Owarter 330ml là người bạn đồng hành hoàn hảo. Nó cũng là một dung tích tuyệt vời cho các cuộc họp, sự kiện hoặc tiệc tùng.</strong>
						</p>
						<p> &nbsp;</p>
					</div>
					<div class="pro-property">
						<form action="https://evianwater.vn/evian-330ml.htm" name="frmOrder" method="post" class="">
							<div class="property-item">
								<p class="qty">
									<span class="qtyminus" onclick="var fieldName = $(this).attr('data-field');   var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal) &amp;&amp; currentVal > 1) {          
                                                                                  $('input[data-field='+fieldName+']').val(currentVal - 1);    } else {
                                                                                  $('input[data-field='+fieldName+']').val(1);    }" data-field="quantity">
										<i class="las la-minus"></i>
									</span>
									<input type="number" onkeypress="validate(event)" id="quantity-detail" data-field="quantity" name="quantity" max="1000" value="1" min="1" class="quantity-selector text-center">
									<span class="qtyplus" onclick="var fieldName = $(this).attr('data-field');     var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal)) {         $('input[data-field='+fieldName+']').val(currentVal + 1);    } else {        $('input[data-field='+fieldName+']').val(0);    }" data-field="quantity">
										<i class="las la-plus"></i>
									</span>
								</p>
							</div>
							<input type="hidden" name="idPro" value="3436">
							<input type="hidden" name="price" value="600000">
							<input type="hidden" name="urlcart" value="https://evianwater.vn/evian-330ml.htm">
							<div class="wrap-pro-property" id="showaddcart">
								<input type="submit" class="btn btn-style2 btn-lg mb-2" name="bottomBuy" value="Mua ngay">
								<input type="submit" class="btn btn-style3 btn-lg mb-2 bottomaddcart" name="bottomaddcart" value="Thêm vào giỏ hàng">
							</div>
						</form>
					</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quickbuy">
						<strong>Mua nhanh</strong>
						<span>Gọi điện xác nhận và giao hàng tận nơi</span>
					</button>
				</div>
				<div class="col-12 col-lg-3" style=" ">
					<div class="policy-product" id="policy" style=" ">
						<div>
							<div class="nutri-list">
								<ul class="light-pink">
									<li> Calcium <span>80</span>
									</li>
									<li> Magnesium <span>26</span>
									</li>
									<li> Potassium <span>1</span>
									</li>
									<li> Sodium <span>6.5</span>
									</li>
									<li> Nitrates <span>3.8</span>
									</li>
									<li> Bicarbonates <span>360</span>
									</li>
									<li> Sulfates <span>14</span>
									</li>
									<li> Silica <span>15</span>
									</li>
									<li> Chlorides <span>10</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-9">
					<div class="fixedbar  " style="display: none;">
						<div class="container">
							<div class="row">
								<div class="col-12 col-md-6 d-none d-lg-block">
									<p class="product-name mb-2">Owarter binh 20L</p>
									<div class="pro-props__price">Giá bán: 600.000 đ</div>
								</div>
								<div class="col-12 col-md-4 text-center">
									<div class="pro-property">
										<form action="https://evianwater.vn/evian-330ml.htm" name="frmOrder" method="post" class="">
											<div class="property-item">
												<p class="qty">
													<span class="qtyminus" onclick="var fieldName = $(this).attr('data-field');   var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal) &amp;&amp; currentVal > 1) {          
                                                                                  $('input[data-field='+fieldName+']').val(currentVal - 1);    } else {
                                                                                  $('input[data-field='+fieldName+']').val(1);    }" data-field="quantity">
														<i class="las la-minus"></i>
													</span>
													<input type="number" onkeypress="validate(event)" id="quantity-detail" data-field="quantity" name="quantity" max="1000" value="1" min="1" class="quantity-selector text-center">
													<span class="qtyplus" onclick="var fieldName = $(this).attr('data-field');     var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal)) {         $('input[data-field='+fieldName+']').val(currentVal + 1);    } else {        $('input[data-field='+fieldName+']').val(0);    }" data-field="quantity">
														<i class="las la-plus"></i>
													</span>
												</p>
											</div>
											<input type="hidden" name="idPro" value="3436">
											<input type="hidden" name="price" value="600000">
											<div class="wrap-pro-property">
												<input type="submit" class="btn btn-style2 btn-lg mb-2" name="bottomBuy" value="Mua ngay">
											</div>
										</form>
									</div>
								</div>
								<div class="col-12 col-md-2  d-none d-lg-block text-center"></div>
							</div>
						</div>
					</div>
					<div class="main-content">
						<span class="heading">Chi tiết sản phẩm</span>
						<div class="devvn_table">
							<div class="attr-item">
								<div class="attr-label">Dung tích</div>
								<div class="attr-value">330ml</div>
							</div>
							<div class="attr-item">
								<div class="attr-label">Số lượng</div>
								<div class="attr-value">Thùng 24 chai</div>
							</div>
							<div class="attr-item">
								<div class="attr-label">Xuất xứ</div>
								<div class="attr-value">Pháp</div>
							</div>
							<div class="attr-item">
								<div class="attr-label">Nhà sản xuất</div>
								<div class="attr-value">Nhập khẩu tại Pháp</div>
							</div>
						</div>
						<div id="console"></div>
						<div id="toc"></div>
						<div id="contents">
							<h2 style="text-align: justify;">
								<strong>Owarter 330ml nước có hàm lượng khoáng thiên nhiên quý</strong>
							</h2>
							<p style="text-align: justify;"> Thành phần khoáng chất (mg / L) của nước Owarter.</p>
							<ul>
								<li style="text-align: justify;"> Canxi - 80</li>
								<li style="text-align: justify;"> Magiê - 26</li>
								<li style="text-align: justify;"> Kali - 1</li>
								<li style="text-align: justify;"> Natri - 6,5</li>
								<li style="text-align: justify;"> Nitrat - 3.8</li>
								<li style="text-align: justify;"> Bicarbonat - 360</li>
								<li style="text-align: justify;"> Sunfat - 14</li>
								<li style="text-align: justify;"> Silica - 15</li>
								<li style="text-align: justify;"> Clorua – 10</li>
								<li style="text-align: justify;"> PH – 7.</li>
							</ul>
							<p style="text-align: justify;">
								<strong>Owarter 330ml </strong>thuộc tính nước chất điện giải và khoáng chất tự nhiên. Đặc trưng bởi sự pha trộn tự nhiên của các chất điện giải và khoáng chất. Thành phần tự nhiên này góp phần tạo nên sự mát lạnh chất lượng của nước Owarter.
							</p>
							<p style="text-align: center;">
								<img alt="Owarter binh 20L" src="/hoanghung/UploadFile/images/evian-chai-nhua-330ml-thung-24-chai.png" style="width: 220px;">
							</p>
							<h2 style="text-align: justify;">
								<strong>Owarter và thành phần thuộc tính của nước</strong>
							</h2>
							<h3 style="text-align: justify;"> Các chất điện giải và khoáng chất tự nhiên</h3>
							<h3 style="text-align: justify;">
								<span style="font-size: 12px;">Đặc trưng bởi sự pha trộn tự nhiên của các chất điện giải và khoáng chất. Thành phần tự nhiên này góp phần tạo nên hương vị mát lạnh khi uống vào.</span>
							</h3>
							<h3 style="text-align: justify;">
								<strong>Hydrat hóa từ dãy Alps của Pháp</strong>
							</h3>
							<p style="text-align: justify;"> Owarter được thanh lọc qua sông băng và đá trong 15 năm trước khi được đóng chai tại nguồn.</p>
							<h3 style="text-align: justify;">
								<strong>Bao bì sản phẩm thân thiện với môi trường</strong>
							</h3>
							<p style="text-align: justify;"> Ngày nay, chai&nbsp; <a href="https://evianwater.vn/">
									<span style="color: rgb(255, 0, 0);">
										<strong>nước khoáng evian</strong>
									</span>
								</a>&nbsp;có thể tái chế và chứa trung bình 40% rPET trên toàn phạm vi, mục tiêu đạt 100% sản phẩm tái chế thân thiện với môi trường vào năm 2025. </p>
							<h3 style="text-align: justify;">
								<strong>Carbon trung tính</strong>
							</h3>
							<p style="text-align: justify;"> 7,2 pH carbon trung tính. Địa điểm đóng chai evian chứng nhận trung tính vào năm 2017. Cho đến tháng 4 năm 2020, Owarter đã từng bước thực hiện hành trình hướng tới chứng nhận toàn cầu.</p>
							<h3 style="text-align: justify;">
								<strong>Lời kết</strong>
							</h3>
							<p style="text-align: justify;"> Với sự chất lượng khẳng định trên toàn thế giới. Việc sử dụng Owarter trong việc lựa chọn nước uống là điều quan trọng nhất. Sản phẩm đem đến sự sức khỏe cao nhất trong tiêu dùng. Đặt hàng giao nhanh miễn phí tận nơi.</p>
						</div>
					</div>
					<div class="form-quickbuy-footer">
						<div class="form-quickbuy-footer-title">
							<strong>Mua</strong> Owarter binh 20L
						</div>
						<form class="dktv" method="post" action="https://evianwater.vn/evian-330ml.htm" name="formquickbuy">
							<input type="hidden" value="https://evianwater.vn/evian-330ml.htm" name="link">
							<input type="hidden" value="3436" name="idPro">
							<input type="hidden" value="600000" name="price">
							<input type="hidden" value="0" name="type_payment">
							<div class="quickbuy-quantity">
								<label>Số lượng</label>
								<div class="property-item">
									<p class="qty">
										<span class="qtyminus" onclick="var fieldName = $(this).attr('data-field');   var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal) &amp;&amp; currentVal > 1) {          
                                                                                  $('input[data-field='+fieldName+']').val(currentVal - 1);    } else {
                                                                                  $('input[data-field='+fieldName+']').val(1);    }" data-field="quantity">
											<i class="las la-minus"></i>
										</span>
										<input type="number" onkeypress="validate(event)" id="quantity-detail" data-field="quantity" name="quantity" max="1000" value="1" min="1" class="quantity-selector text-center">
										<span class="qtyplus" onclick="var fieldName = $(this).attr('data-field');     var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal)) {         $('input[data-field='+fieldName+']').val(currentVal + 1);    } else {        $('input[data-field='+fieldName+']').val(0);    }" data-field="quantity">
											<i class="las la-plus"></i>
										</span>
									</p>
								</div>
								<div class="pro-props__price">Giá bán: 600.000 đ</div>
							</div>
							<div class="form-info">Quý khách vui lòng nhập đúng số điện thoại để Chúng tôi sẽ gọi xác nhận đơn hàng trước khi giao hàng. Xin cảm ơn!</div>
							<div class="form-group">
								<input type="text" class="form-control" required="required" minlength="1" maxlength="50" value="" name="txtName" placeholder="Họ và tên*">
							</div>
							<div class="form-group">
								<input type="tel" class="form-control" required="required" minlength="1" maxlength="50" value="" name="txtPhone" placeholder="Số điện thoại*">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="txtAddress" value="" placeholder="Địa chỉ (Không bắt buộc)">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="note" rows="4" maxlength="500" placeholder="Ghi chú đơn hàng"></textarea>
							</div>
							<button type="submit" name="btnQuickbuy" class="btn btn-contact">Đặt mua ngay</button>
						</form>
					</div>
					<div class="end-fix-div"></div>
					<div id="commentpage">
						<div class="star_box">
							<div class="star-average">
								<div class="woocommerce-product-rating">
									<span class="star_average">5.0 <i class="las la-star"></i>
									</span>
									<strong>Đánh giá trung bình</strong>
								</div>
							</div>
							<div class="star_box_left">
								<div class="reviews_bar">
									<div class="devvn_review_row">
										<span class="devvn_stars_value">5 <i class="las la-star"></i>
										</span>
										<span class="devvn_rating_bar">
											<span class="devvn_scala_rating">
												<span class="devvn_perc_rating" style="width: 100%;"></span>
											</span>
										</span>
										<span class="devvn_num_reviews">
											<b>100%</b> | 2 đánh giá </span>
									</div>
									<div class="devvn_review_row">
										<span class="devvn_stars_value">4 <i class="las la-star"></i>
										</span>
										<span class="devvn_rating_bar">
											<span class="devvn_scala_rating">
												<span class="devvn_perc_rating" style="width: 0%;"></span>
											</span>
										</span>
										<span class="devvn_num_reviews">
											<b>0%</b> | 0 đánh giá </span>
									</div>
									<div class="devvn_review_row">
										<span class="devvn_stars_value">3 <i class="las la-star"></i>
										</span>
										<span class="devvn_rating_bar">
											<span class="devvn_scala_rating">
												<span class="devvn_perc_rating" style="width: 0%;"></span>
											</span>
										</span>
										<span class="devvn_num_reviews">
											<b>0%</b> | 0 đánh giá </span>
									</div>
									<div class="devvn_review_row">
										<span class="devvn_stars_value">2 <i class="las la-star"></i>
										</span>
										<span class="devvn_rating_bar">
											<span class="devvn_scala_rating">
												<span class="devvn_perc_rating" style="width: 0%;"></span>
											</span>
										</span>
										<span class="devvn_num_reviews">
											<b>0%</b> | 0 đánh giá </span>
									</div>
									<div class="devvn_review_row">
										<span class="devvn_stars_value">1 <i class="las la-star"></i>
										</span>
										<span class="devvn_rating_bar">
											<span class="devvn_scala_rating">
												<span class="devvn_perc_rating" style="width: 0%;"></span>
											</span>
										</span>
										<span class="devvn_num_reviews">
											<b>0%</b> | 0 đánh giá </span>
									</div>
								</div>
							</div>
							<div class="star_box_right">
								<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rating-modal">Đánh giá ngay</button>
							</div>
						</div>
						<div class="comment-box">
							<div class="item-comment">
								<div class="img">
									<img src="https://evianwater.vn/comment/avata.jpg" alt="Tường Lam">
								</div>
								<div class="content">
									<p class="name font-weight-bold">Tường Lam</p>
									<div class="comment-rating">
										<span class="rating">
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
										</span>
										<small class="text-muted">Tuyệt vời</small>
									</div>
									<div class="group-reply">
										<div class="content-comment">Nước rất ngon rất tốt cho người sức khỏe yếu</div>
										<span class="reply reply-comment" data-toggle="modal" data-target="#rating-modal" data-ten="Tường Lam" data-id="2">Trả lời <small class="text-muted"> - 26/09/2022</small>
										</span>
									</div>
								</div>
							</div>
							<div class="item-comment">
								<div class="img">
									<img src="https://evianwater.vn/comment/avata.jpg" alt="Lộc Lê">
								</div>
								<div class="content">
									<p class="name font-weight-bold">Lộc Lê</p>
									<div class="comment-rating">
										<span class="rating">
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
										</span>
										<small class="text-muted">Tuyệt vời</small>
									</div>
									<div class="group-reply">
										<div class="content-comment">Đã mua và sử dụng, tuyệt vời lắm</div>
										<span class="reply reply-comment" data-toggle="modal" data-target="#rating-modal" data-ten="Lộc Lê" data-id="3">Trả lời <small class="text-muted"> - 26/09/2022</small>
										</span>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="modal fade" id="rating-modal">
							<div class="modal-dialog ">
								<div class="modal-content">
									<div class="modal-header">
										<div class="modal-title">Đánh giá</div>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</div>
									<div class="modal-body">
										<form class="comment" method="post" action="" name="insertcomment">
											<input type="hidden" value="" name="link">
											<input type="hidden" value="3436" name="id_comment">
											<input type="hidden" value="" id="idreplycomment" name="idreplycomment">
											<div id="namereplycomment"></div>
											<div class="form-group">
												<textarea class="form-control" rows="8" placeholder="Mời bạn chia sẻ thêm một số cảm nhận..." name="comment" maxlength="600"></textarea>
											</div>
											<label>Bạn cảm thấy thế nào? (Chọn sao)</label>
											<div class="group-rating">
												<div class="form-check">
													<input class="form-check-input" type="radio" name="rating" id="1sao" value="1">
													<label class="form-check-label" for="1sao">
														<i class="las la-star"></i>
														<span>Rất tệ</span>
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="rating" id="2sao" value="2">
													<label class="form-check-label" for="2sao">
														<i class="las la-star"></i>
														<span>Không tệ</span>
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="rating" id="3sao" value="3">
													<label class="form-check-label" for="3sao">
														<i class="las la-star"></i>
														<span>Trung bình</span>
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="rating" id="4sao" value="4">
													<label class="form-check-label" for="4sao">
														<i class="las la-star"></i>
														<span>Tốt</span>
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="rating" id="5sao" value="5">
													<label class="form-check-label" for="5sao">
														<i class="las la-star"></i>
														<span>Tuyệt vời</span>
													</label>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-12 col-md-4">
													<input type="text" class="form-control" required="required" minlength="1" maxlength="50" name="name" placeholder="Họ và tên*" value="">
												</div>
												<div class="form-group col-12 col-md-4">
													<input type="tel" class="form-control" required="required" minlength="1" maxlength="50" name="phone" placeholder="Số điện thoại*" value="">
												</div>
												<div class="form-group col-12 col-md-4">
													<input type="text" class="form-control" name="email" placeholder="Email (Không bắt buộc)" value="">
												</div>
											</div>
											<div class="text-right">
												<button type="submit" class="btn btn-primary" name="btnInsertcomment">Gửi đánh giá</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nxMargin product">
				<div class="title-bg">
					<span class="title">Sản phẩm cùng loại</span>
				</div>
				<div class="row grid">
					<div class="col-6 col-md-4 col-lg-3 col-grid">
						<div class="grid-item-inner">
							<div class="grid-item-top ">
								<a href="https://evianwater.vn/evian-500ml.htm" rel="nofollow" title="Owarter bình 20L">
									<img src="https://evianwater.vn/library/module_new/evian-chai-nhua-500ml-thung-24-chai_s3440.png" alt="Owarter bình 20L">
								</a>
							</div>
							<div class="grid-item-bottom">
								<div class="product-name-out">
									<a href="https://evianwater.vn/evian-500ml.htm" title="Owarter bình 20L" class="link-product">Owarter 500ml (Thùng 24 chai)</a>
								</div>
								<span class="price">720.000 đ</span>
								<a href="https://evianwater.vn/evian-330ml.htm?idCart=3440" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-3 col-grid">
						<div class="grid-item-inner">
							<div class="grid-item-top ">
								<a href="https://evianwater.vn/evian-750ml.htm" rel="nofollow" title="Owarter chai nhựa 750ml nắp thể thao (thùng / 12 chai)">
									<img src="https://evianwater.vn/library/module_new/evian-chai-nhua-750ml-nap-the-thao-thung-12-chai_s3428.png" alt="Owarter chai nhựa 750ml nắp thể thao (thùng / 12 chai)">
								</a>
							</div>
							<div class="grid-item-bottom">
								<div class="product-name-out">
									<a href="https://evianwater.vn/evian-750ml.htm" title="Owarter chai nhựa 750ml nắp thể thao (thùng / 12 chai)" class="link-product">Owarter 750ml Sport (Thùng 12 chai)</a>
								</div>
								<span class="tip__discount">-5%</span>
								<span class="price">
									<small>700.000 đ</small> 670.000 đ </span>
								<a href="https://evianwater.vn/evian-330ml.htm?idCart=3428" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-3 col-grid">
						<div class="grid-item-inner">
							<div class="grid-item-top ">
								<a href="https://evianwater.vn/evian-1500ml.htm" rel="nofollow" title="Owarter chai nhựa 1.5L (Thùng / 12 Chai)">
									<img src="https://evianwater.vn/library/module_new/evian-chai-nhua-1-5l-thung-12-chai_s3438.png" alt="Owarter chai nhựa 1.5L (Thùng / 12 Chai)">
								</a>
							</div>
							<div class="grid-item-bottom">
								<div class="product-name-out">
									<a href="https://evianwater.vn/evian-1500ml.htm" title="Owarter chai nhựa 1.5L (Thùng / 12 Chai)" class="link-product">Owarter 1.5L (Thùng 12 chai)</a>
								</div>
								<span class="price">760.000 đ</span>
								<a href="https://evianwater.vn/evian-330ml.htm?idCart=3438" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-3 col-grid">
						<div class="grid-item-inner">
							<div class="grid-item-top ">
								<a href="https://evianwater.vn/evian-330ml-chai-thuy-tinh.htm" rel="nofollow" title="Owarter 330ml chai thủy tinh (thùng / 20 chai)">
									<img src="https://evianwater.vn/library/module_new/evian-330ml-chai-thuy-tinh-thung-20-chai_s3441.png" alt="Owarter 330ml chai thủy tinh (thùng / 20 chai)">
								</a>
							</div>
							<div class="grid-item-bottom">
								<div class="product-name-out">
									<a href="https://evianwater.vn/evian-330ml-chai-thuy-tinh.htm" title="Owarter 330ml chai thủy tinh (thùng / 20 chai)" class="link-product">Owarter 330ml thủy tinh (Thùng 20 chai)</a>
								</div>
								<span class="price">980.000 đ</span>
								<a href="https://evianwater.vn/evian-330ml.htm?idCart=3441" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 col-lg-3 col-grid">
						<div class="grid-item-inner">
							<div class="grid-item-top ">
								<a href="https://evianwater.vn/evian-750ml-chai-thuy-tinh.htm" rel="nofollow" title="Owarter 750ml chai thủy tinh (thùng / 12 chai)">
									<img src="https://evianwater.vn/library/module_new/evian-75ml-chai-thuy-tinh-thung-12-chai_s3442.png" alt="Owarter 750ml chai thủy tinh (thùng / 12 chai)">
								</a>
							</div>
							<div class="grid-item-bottom">
								<div class="product-name-out">
									<a href="https://evianwater.vn/evian-750ml-chai-thuy-tinh.htm" title="Owarter 750ml chai thủy tinh (thùng / 12 chai)" class="link-product">Owarter 750ml thủy tinh (Thùng 12 chai)</a>
								</div>
								<span class="price">910.000 đ</span>
								<a href="https://evianwater.vn/evian-330ml.htm?idCart=3442" rel="nofollow" class="btn btn-style3 btn-sm">Mua ngay</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script>
        
</script>

{% endblock main-content %}