{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
    <div class="nxPaddingPage">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="thumb-img">
                        <div class="pro-detail-img">
                            <div class="center-flex">
                                <img  loading="lazy"  src="{% static '/assets/imgs/products/Binh nuoc A3.webp' %}" class="" style="width: 220px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="related-product"></div>
                    <h1 class="product-name">NƯỚC UỐNG KANGEN OWA TYPE A3 - PH 8.0-8.5</h1>
                    <div class="rating-top hidden">
                        <span class="rating">
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                        </span>
                        <span class="count">
                            <a href="#commentpage" rel="nofollow" title="(2 đánh giá)">(2 đánhgiá)</a>
                        </span>
                        <span class="count">0 Đã bán</span>
                    </div>
                    <div class="pro-props__price">Giá bán: 45.000 đ</div>
                    <div class="pro-desc">
                        <p style="text-align: justify;">
                            <strong>Owarter bình 20L là loại nước cao cấp, khoáng chất hoàn toàn tự nhiên. Có nồng độ pH nhẹ, vị ngọt thanh mát, phù hợp cho người mới bắt đầu sử dụng nước ion kiềm.</strong>
                        </p>
                        <p> &nbsp;</p>
                    </div>
                    <div class="pro-property flex justify-center hidden">
                        <div class="property-item flex-1">
                            <button onclick="decreaseQuantity()" class="btn-style3 h-10 w-10 border p-2 outline-none">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <input id="quantity" value="1" readonly class="h-10 outline-none w-20 border p-2 text-center" type="text">
                            <button onclick="increaseQuantity()" class="btn-style3 h-10 w-10 border outline-none p-2">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="flex-1 ">
                            <button class="h-10 w-full btn-style3  h-full">
                                <i class="fa-solid fa-shopping-cart  "></i>
                                <span>Thêm vào giỏ hàng</span>
                            </button>
                        </div>
                    </div>
                    <button onclick="handleAddToCart(1)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#quickbuy">
                        <strong>Mua ngay</strong>
                        <span>Gọi điện xác nhận và giao hàng tận nơi</span>
                    </button>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="policy-product" id="policy">
                        <div>
                            <div class="nutri-list">
                                <ul class="light-blue">
                                    <li> Calcium <span>80</span>
                                    </li>
                                    <li> Magnesium <span>40</span>
                                    </li>
                                    <li> Potassium <span>2</span>
                                    </li>
                                    <li> Sodium <span>6.5</span>
                                    </li>
                                    <li> Nitrates <span>3.8</span>
                                    </li>
                                    <li> Bicarbonates <span>360</span>
                                    </li>
                                    <li> Sulfates <span>3</span>
                                    </li>
                                    <li> Silica <span>10</span>
                                    </li>
                                    <li> Chlorides <span>0.7</span>
                                    </li>
                                    <li> PH <span> 8.0-8.5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-5  details-page details-all details-table pt-2">
                <h2 style="text-align: justify;">LỢI ÍCH TUYỆT VỜI CỦA NƯỚC UỐNG KANGEN OWA</h2>
                <p style="text-align: justify;">
                    <strong>Nước uống Kangen được tạo ra qua quá trình điện giải do người Nhật sáng tạo ra, ngày càng được nhiều người ưa chuộng nhờ vào những lợi ích sức khỏe tuyệt vời mà nó mang lại. Với công nghệ tiên tiến được nhập khẩu từ Nhật Bản, chúng tôi xin giới thiệu đến bạn các sản phẩm nước uống ion kiềm chất lượng cao của mình.</strong>
                </p>

                
                <p style="text-align: center;">
                    <img  loading="lazy"  style="width: 75%;" src="{% static '/assets/imgs/Slide_4_fulltext.webp' %}" alt="Nước ion kiềm số 1 Việt Nam">
                </p>
                <h2 style="text-align: justify;">
                    <strong>Thành phần của nước</strong>
                </h2>
                <p style="text-align: justify;"> Thành phần khoáng chất (mg/L) của nước uống Kangen OWA.</p>
                <table border="0" cellpadding="0" style="width: 100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align: justify;">
                                    <strong>Tên gọi</strong>
                                </p>
                            </td>
                            <td>
                                <p style="text-align: justify;">
                                    <strong>Kí hiệu</strong>
                                </p>
                            </td>
                            <td>
                                <p style="text-align: justify;">
                                    <strong>Hàm lượng (mg/ L)</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Canxi</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Ca</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 80</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Kali</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> K</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 2</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Magie</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Mg</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 40</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Hidrocacbonat</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> HCO3</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 360</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Natri</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Na</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 6,5</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Clo</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> Cl</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 0.7</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Nitrat</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> NO3</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 5</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Silica</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> SO2</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: justify;"> Sunfat</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> SO4</p>
                            </td>
                            <td>
                                <p style="text-align: justify;"> 3</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align: justify;">
                    <strong>Sản Xuất Theo Tiêu Chuẩn Quốc Tế:&nbsp;</strong>Tất cả các sản phẩm nước ion kiềm của chúng tôi đều được sản xuất theo tiêu chuẩn quốc tế, đảm bảo chất lượng và an toàn cho người sử dụng. Quá trình sản xuất được kiểm soát chặt chẽ từ nguồn nước đầu vào đến khi thành phẩm, đảm bảo mỗi giọt nước bạn uống đều đạt chất lượng cao nhất.
                </p>
                <h3 style="text-align: justify;">
                    <strong>Các chất điện giải và khoáng chất tự nhiên&nbsp;</strong>
                </h3>
                <p style="text-align: justify;"> Đặc trưng bởi sự pha trộn tự nhiên của các chất điện giải và khoáng chất. Thành phần tự nhiên này góp phần tạo nên hương vị mát lạnh khi uống vào.</p>
                <h3 style="text-align: justify;">
                    <strong>Công nghệ vi lượng tăng cường sức khỏe</strong>
                </h3>
                <p style="text-align: justify;"> OWA có nồng độ ion hydroxide cao, hỗ trợ sức khỏe tổng quát bằng cách giúp cơ thể loại bỏ các gốc tự do có hại. Điều này giúp ngăn ngừa quá trình lão hóa, tăng cường hệ miễn dịch và giảm nguy cơ mắc các bệnh mãn tính như tiểu đường và bệnh tim mạch.</p>
                <h3 style="text-align: justify;">
                    <strong> Độ PH 9.5 - Tốt nhất cho cơ thể</strong>
                </h3>
                <p style="text-align: justify;">Nước ion kiềm có độ pH cao lên đến 9.5, giúp cân bằng độ pH trong cơ thể. Điều này rất quan trọng trong việc duy trì sức khỏe tổng quát, vì cơ thể thường bị axit hóa do chế độ ăn uống không lành mạnh và căng thẳng. Việc uống nước có độ pH cao giúp trung hòa axit dư thừa, cải thiện hệ tiêu hóa và tăng cường sức khỏe.</p>
            </div>
        </div>
    </div>
</main>
<script>

</script>

{% endblock main-content %}