{% extends "index.html" %}
{% load static %}
{% block main-content %}

<main>
    <div class="nxPaddingPage">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="thumb-img">
                        <div class="pro-detail-img">
                            <div class="_img">
                                <style>
                                    .fotorama1732942441572 .fotorama__nav--thumbs .fotorama__nav__frame {
                                        padding: 2px;
                                        height: 64px
                                    }
    
                                    .fotorama1732942441572 .fotorama__thumb-border {
                                        height: 60px;
                                        border-width: 2px;
                                        margin-top: 2px
                                    }
                                </style>
                                <div class="fotorama--hidden"></div>
                                <div class="fotorama fotorama1732942441572" data-nav="thumbs" data-allowfullscreen="true" data-max-width="100%">
                                    <div class="fotorama__wrap fotorama__wrap--css3 fotorama__wrap--slide fotorama__wrap--toggle-arrows" style="width: 220px; min-width: 0px; max-width: 100%;">
                                        <div class="fotorama__stage" style="width: 220px; height: 365px;">
                                            <div class="fotorama__fullscreen-icon" tabindex="0" role="button"></div>
                                            <div class="fotorama__stage__shaft" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); width: 220px; margin-left: 0px;">
                                                <div class="fotorama__stage__frame fotorama__active fotorama__loaded fotorama__loaded--img" style="left: 0px;">
                                                    <img src="https://evianwater.vn/library/module_new/evian-chai-nhua-330ml-thung-24-chai_s3436.png" class="fotorama__img" style="width: 220px; height: 365px; left: 0px; top: 0px;">
                                                </div>
                                                <div class="fotorama__stage__frame fotorama__loaded fotorama__loaded--img" style="left: 222px;">
                                                    <img src="https://evianwater.vn/library/module_new/evian-chai-nhua-330ml-thung-24-chai_l3436_0.jpg" class="fotorama__img" style="width: 220px; height: 365px; left: 0px; top: 0px;">
                                                </div>
                                            </div>
                                            <div class="fotorama__arr fotorama__arr--prev fotorama__arr--disabled" tabindex="-1" role="button" disabled="disabled"></div>
                                            <div class="fotorama__arr fotorama__arr--next" tabindex="0" role="button"></div>
                                            <div class="fotorama__video-close"></div>
                                        </div>
                                        <div class="fotorama__nav-wrap">
                                            <div class="fotorama__nav fotorama__nav--thumbs fotorama__shadows--right" style="width: 220px;">
                                                <div class="fotorama__nav__shaft fotorama__grab" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                                                    <div class="fotorama__thumb-border" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); width: 60px;"></div>
                                                    <div class="fotorama__nav__frame fotorama__nav__frame--thumb fotorama__active" tabindex="0" role="button" style="width: 64px;">
                                                        <div class="fotorama__thumb fotorama__loaded fotorama__loaded--img">
                                                            <img src="https://evianwater.vn/library/module_new/evian-chai-nhua-330ml-thung-24-chai_s3436.png" class="fotorama__img" style="width: 64px; height: 106.182px; left: 0px; top: -21.0909px;">
                                                        </div>
                                                    </div>
                                                    <div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 64px;">
                                                        <div class="fotorama__thumb fotorama__loaded fotorama__loaded--img">
                                                            <img src="https://evianwater.vn/library/module_new/evian-chai-nhua-330ml-thung-24-chai_l3436_0.jpg" class="fotorama__img" style="width: 64px; height: 106.182px; left: 0px; top: -21.0909px;">
                                                        </div>
                                                    </div>
                                                    <div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 64px;">
                                                        <div class="fotorama__thumb fotorama__loaded fotorama__loaded--img">
                                                            <img src="https://evianwater.vn/library/module_new/evian-chai-nhua-330ml-thung-24-chai_l3436_1.jpg" class="fotorama__img" style="width: 64px; height: 106.182px; left: 0px; top: -21.0909px;">
                                                        </div>
                                                    </div>
                                                    <div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 64px;">
                                                        <div class="fotorama__thumb fotorama__loaded fotorama__loaded--img">
                                                            <img src="https://evianwater.vn/library/module_new/evian-chai-nhua-330ml-thung-24-chai_l3436_2.jpg" class="fotorama__img" style="width: 64px; height: 106.182px; left: 0px; top: -21.0909px;">
                                                        </div>
                                                    </div>
                                                    <div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 64px;">
                                                        <div class="fotorama__thumb"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="related-product"></div>
                    <h1 class="product-name">Evian chai nhựa 330ml (Thùng / 24 Chai)</h1>
                    <div class="rating-top">
                        <span class="rating">
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                            <i class="las la-star"></i>
                        </span>
                        <span class="count">
                            <a href="#commentpage" rel="nofollow" title="(2 đánh giá)">(2 đánhgiá)</a>
                        </span>
                        <span class="count">0 Đã bán</span>
                    </div>
                    <div class="pro-props__price">Giá bán: 600.000 đ</div>
                    <div class="pro-desc">
                        <p style="text-align: justify;">
                            <strong>Evian chai 330ml là loại nước cao cấp, khoáng chất hoàn toàn tự nhiên được sản xuất và nhập khẩu tại Pháp. Dễ dàng bỏ vào túi xách của bạn. Sản phẩm Evian 330ml là người bạn đồng hành hoàn hảo. Nó cũng là một dung tích tuyệt vời cho các cuộc họp, sự kiện hoặc tiệc tùng.</strong>
                        </p>
                        <p> &nbsp;</p>
                    </div>
                    <div class="pro-property">
                        <form action="https://evianwater.vn/evian-330ml.htm" name="frmOrder" method="post" class="">
                            <div class="property-item">
                                <p class="qty">
                                    <span class="qtyminus" onclick="var fieldName = $(this).attr('data-field');   var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal) &amp;&amp; currentVal > 1) {          
                                                                              $('input[data-field='+fieldName+']').val(currentVal - 1);    } else {
                                                                              $('input[data-field='+fieldName+']').val(1);    }" data-field="quantity">
                                        <i class="las la-minus"></i>
                                    </span>
                                    <input type="number" onkeypress="validate(event)" id="quantity-detail" data-field="quantity" name="quantity" max="1000" value="1" min="1" class="quantity-selector text-center">
                                    <span class="qtyplus" onclick="var fieldName = $(this).attr('data-field');     var currentVal = parseInt($('input[data-field='+fieldName+']').val());    if (!isNaN(currentVal)) {         $('input[data-field='+fieldName+']').val(currentVal + 1);    } else {        $('input[data-field='+fieldName+']').val(0);    }" data-field="quantity">
                                        <i class="las la-plus"></i>
                                    </span>
                                </p>
                            </div>
                            <input type="hidden" name="idPro" value="3436">
                            <input type="hidden" name="price" value="600000">
                            <input type="hidden" name="urlcart" value="https://evianwater.vn/evian-330ml.htm">
                        </form>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quickbuy">
                        <strong>Mua nhanh</strong>
                        <span>Gọi điện xác nhận và giao hàng tận nơi</span>
                    </button>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="policy-product" id="policy">
                        <div>
                            <div class="nutri-list">
                                <ul class="light-blue">
                                    <li> Calcium <span>80</span>
                                    </li>
                                    <li> Magnesium <span>26</span>
                                    </li>
                                    <li> Potassium <span>1</span>
                                    </li>
                                    <li> Sodium <span>6.5</span>
                                    </li>
                                    <li> Nitrates <span>3.8</span>
                                    </li>
                                    <li> Bicarbonates <span>360</span>
                                    </li>
                                    <li> Sulfates <span>14</span>
                                    </li>
                                    <li> Silica <span>15</span>
                                    </li>
                                    <li> Chlorides <span>10</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<script>
        
</script>

{% endblock main-content %}